@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared style */

.grey {
    color: #8987A1;
}

body {
    background-color: #F5F8FF;
}

/* header */
* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;

}

.links {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    list-style: none;
}

.link {
    text-decoration: none;
}

.home {
    color: #252432;
    font-weight: 700;
}

.Cart {
    color: #000000;
}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px;
}


.banner-title {
    font-weight: bold;
    font-size: 4rem;
}

.banner-span {
    color: #E95A08;
}

.banner-paragraph {
    color: rgba(0, 0, 0, 0.5);
}

/* Section Our-Plant */


.plant-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 90px;
    gap: 20px;
}

.plant-info {
    text-align: center;
}

.plant-description {
    text-align: center;
}

.plant-info h4 {
    font-weight: 600;
    font-size: 1.37rem;
    columns: #111111;
}

.palnt-info h1 {
    color: #111111;
    font-size: 1.37rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 19px 80px;

}

/* badge image part */
.trusted-badge {
    width: 286px;
    height: 286px;
    position: relative;
    top: 160px;
    right: -500px;
}

/* section plant-lover */
.latest-info {
    display: grid;
    gap: 20px;
    text-align: center;
}

.plant-lover {
    display: flex;
    gap: 90px;
    padding: 0px 130px;
    padding-bottom: 100px;
}

.lover-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.lover-paragraph {
    display: grid;
    gap: 35px;
}


.lover-title {
    font-weight: bold;
    font-size: 3.125rem;
}

.latest-span {
    color: #E95A08;

}

.latest-title {
    font-weight: bold;
    font-size: 3.125rem;
}

/* section-image-part */
.txt-color-1 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.txt-color-2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #FFFFFF;
}

.btn-1,
.btn-2 {

    color: #FFFFFF;
}


.image-plant {
    display: flex;
    gap: 40px;
    padding: 120px 60px;
    text-align: center;
}

.display-image-1 {
    display: grid;
    gap: 25px;
}

.background-image-1 {
    background-image: url(../assets/deal-bloom.png);
}

.background-image-2 {
    background-image: url(../assets/deal-ana.png);
}

.background-image-3 {
    background-image: url(../assets/deal-zabo.png);
}

.background-image-1,
.background-image-2,
.background-image-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 14px;
    height: 206px;
    width: 366px;
    display: flex;
    filter: brightness(80%);

}


.background-image-3 {
    width: 753px;
    height: 423px;
    border-radius: 22px;
}

/* Join-Part */
.search {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form {

    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.join-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3.125rem;
}

.input {
    width: 700px;
    height: 40px;
    border: none;
}

.btn-join {
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    width: 186px;
    height: 40px;
}

.join {
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: 0;
    width: 100%;
}

/* Footer-Part */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}

.image-paragraph {
    display: grid;
    gap: 10px;
}

.footer-item {
    list-style: none;
}

.footer-links {
    text-decoration: none;
}

.footer-link-1 ul {
    display: grid;
    gap: 32px;
    padding: 0;
    margin: 0;
}

.footer-icon {
    width: 216px;
    height: 36px;
    gap: 24px;
    display: flex;
    gap: 24px;
}


@media screen and (max-width: 576px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header img{
        max-width: 102%;
    }
    .plant-info img{
        max-width: 100%;
    }
    html,
    body {
        max-width: 100%;
    }
    main{
        max-width: 100%;
    }

    .home,
    .shop,
    .About {
        display: none;
    }

    header main footer {
        overflow: 0;
    }

    .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 0px;
    }

    .banner-image {
        width: fit-content;
        height: fit-content;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 10px 10px;
    }

    .plant-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        gap: 20px;
    }

    .trusted-badge {
        display: none;
    }

    .plant-lover {
        display: flex;
        flex-direction: column;
        padding: 40px 25px;
    }

    .lover-image {
        width: 50%;
    }

    .image-plant {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;

    }

    .background-image-3 {
        width: 366px;
        height: 206px;

    }

    .join {
        width: 393px;
        height: 276px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: 0;
        width: 100%;
    }

    .join-title {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 1.25rem;
    }

    .input {
        width: 300px;
        height: 50px;
        border: none;
    }

    .btn-join {
        background-color: #E95A08;
        color: #FFFFFF;
        border: none;
        width: 60px;
        height: 50px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        flex-direction: column;
        gap: 30px;
    }
}